i:hover {
	color: #9c27b0;
}

.navbar {
	border-radius: 0;
}
.container {
	width: 90%;
}

.dark {
	background-color: #a5adb0;
	width: 100%;
	height: auto;
	margin-bottom: 0;
}

.color-light:hover,
.color-dark:hover  {
	opacity: 0.7;
	cursor: pointer;
}

.panel-light {
	background-color: #2196f5;
}

.btn-save {
	background-color: green;
	color: #fff !important;
}

.news:hover,
.news:hover h2 {
	background-color: #9c27b0;
	text-decoration: none;
	color: white;
}

.well,
.well h3 {
	background-color: #2196f3;
	color: white;
}

#well-btn:hover,
#well-btn:hover .well,
#well-btn:hover h3 {
	text-decoration: none;
	background-color: #9c27b0;
}

footer {
	padding-top: 0px;
	padding-bottom: 20px;
}

.day:hover,
.day:hover a {
	background-color: #4caf50;
	color: white;
}

.active-day,
.active-day a {
	background-color: #9c27b0;
	color: white;
}

.active-info {
	border-bottom: 1px solid #9c27b0;
}

td {
	font-size: 36px;
	font-weight: bold;
}

td a {
  display: block;
  height:100%;
  width:100%;
}

.booking-table {
	width: 100%;
  	margin-right: auto;
  	margin-left: auto;
 	padding-left: 15px;
 	padding-right: 15px;
}

.machine-wrapper {
	text-align: center;
	padding-bottom: 11.5px;
	margin: 15px;
	background-color: #f9f9f9;
}

.book-btn {
	float: right;
	width: 25%;
}

#map {
	width: 100%;
	height: 300px;
}

address {
	font-size: 16px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.grey {
	background-color: #dddddd;
}

.separator {
	margin-top: 23px;
    margin-bottom: 23px;
    border: 0;
    border-top: 1px solid #eeeeee;
}

.horizontal-separator {
	display: inline-block;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 23px;
	margin-right: 23px;
	border: 0;
	height: 23px;
	width: 1px;
	background-color: #eeeeee;
}

.rule-menu {
	margin-top: 100px;
}

.no-space {
	padding: 0;
	margin: 0;
}

.portfolio-item:hover {
	opacity: 0.7;
}

.list-group-item:hover {
	background-color: #9c27b0 !important;
}

.list-group-item:hover p,
.list-group-item:hover h4 {
	color: #fff;
}

.same-height {
	display: table-cell;
}
/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}